services:

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    volumes:
      - ./ollama:/root/.ollama
    ports:
      - "11434:11434"
    restart: unless-stopped

  open-webui:
    image: openeuler/open-webui:latest        
    container_name: open-webui
    volumes:
      - ./open-webui:/app/backend/data        
    ports:
      - "3000:8080"
    stdin_open: true
    tty: true
    restart: unless-stopped
    depends_on:
      - ollama 
